<h1>LOGIN</h1>

<form method="POST" action="/login">
  <label for="user_name">User Name</label>
  <input name="user_name" type="text" />

  <label for="password">Password:</label>
  <input name="password" type="password" />

  <input value="Login" type="submit" />
</form>
